{% extends 'layout.twig' %}

{% block body %}
<div class="flex items-center justify-center h-full">
  <h1 class="text-center">
    {{ message }}
    <br/><br/>
    <a href="/">
      <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Go back</button>
    </a>
  </h1>
</div>
{% endblock %}
